html,
body {
    font-family: "Lato", sans-serif;
    min-height: 100vh;
    max-width: 900px;
    display: flex;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    text-align: center;
}

.img1 {
    background-image: url(images/image1.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 600px;
    
}
.img2 {
    background-image: url(images/image2.png);
    min-height: 400px;
    
}
.img3 {
    background-image: url(images/image3.png);
    min-height: 400px;
    
}
.img-text-container {
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 400px; 
}
.img1 > div {
    min-height: 600px;
}
.imgtext {
    background-color: rgba(17, 15, 15, 0.3) ;
    color: white;
    padding: 15px;
    font-size: 2rem;
    text-transform: uppercase;
  
}
.section > * {
    padding: 20px auto;
    
}
.section-light {
    background-color: #f4f4f4;
    color: #666;
  }
.section-dark {
    background-color: #282e34;
    color: #ddd;
  }
  .section {
    padding: 10px;
  }
  h2 , span {
    padding: 10px 0;
  }